/* 기본 폰트와 색상 설정 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    /* body와 html 태그의 기본 마진을 제거합니다. */
    padding: 0;
    /* body와 html 태그의 기본 패딩을 제거합니다. */
    width: 100%;
    /* 너비를 100%로 설정하여 화면에 꽉 차게 합니다. */
    padding-bottom: 7.8vh;
    /* 기본 하단 여백 */
}

.title-container {
    text-align: center;
    margin-top: 5.8vh;
}

.title-container p{
    font-style: 'Noto Sans KR, Regular';
    font-size: 3.256vw;
}

h1 {
    color: #222222;
    font-weight: 400;
    font-size: 6vw;
    margin: 0;
    padding: 0.43vh 0;
}

.button-container {
    margin-top: 5.38vh;
}

.button-us img {
    padding: 1.4vw;
    width: 23.3vw;
}


.photo-table {
    display: flex;
    width: 83.3vw;
    margin: 0 8.35vw;
    height: auto;
    /* 높이를 auto로 설정하여 콘텐츠에 맞게 조정 */
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.photo-card {
    width: 38.5vw;
    height: 51.3vw;
    position: relative;
    margin-top: 2.7vh;
}

.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.text-box {
    position: absolute;
    bottom: 4vw;
    left: 3vw;
}

.text-box1 p {
    font-size: 1.3vh;
    margin: 0;
    padding: 0;
    color: white;
}

.text-box2 p {
    font-size: 1.7vh;
    letter-spacing: -0.1vh;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: white;
}


/* Photo Album Overlay styling */
.photo-album-overlay {
    position: fixed;
    /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent background */
    z-index: 1000;
    /* Ensure it's above all other content */
    display: flex;
    /* Use flexbox to center the content */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}


.swiper-slide img {
    max-width: 100%;
    /* 이미지가 부모 요소의 100% 너비를 넘지 않도록 합니다. */
    height: auto;
    /* 너비에 따라 높이가 자동으로 조정되도록 합니다. */
    margin: 0.75vw 0;
    /* 상하 여백을 화면 너비의 백분율로 설정합니다. */
    display: block;
    /* 이미지가 블록 레벨 요소처럼 행동하게 합니다. */
    object-fit: cover;
    /* 이미지가 컨테이너를 가득 채우도록 합니다. */
}

.photo-album-container {
    border: solid;
    background-color: #F5F5F5;
    border-radius: 5% 5% 0 0;
    width: 90vw;
    height: 80vh;
    margin-left: 5vw;
    margin-top: 10vh;
    padding: 0;
    position: relative;
}

.photo-album button {
    /* padding: 1.4vw; */
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2.5vh;
    left: 33.35vw;
    border: none;
    background-color: #F5F5F5;

}

.photo-album button img {
    width: 23.3vw;
}

.subject-container {
    font-style: 'Noto Sans KR, Medium';
    font-size: 3.7vw;
    text-align: center;
    margin: 2.69vh;
}

.subject-container p{
    margin: 0;
    padding: 0;
}

.text-container p {
    margin: 0;
    padding: 0;
    word-break: keep-all;
}

.text-container {
    font-style: 'Noto Sans KR, Regular';
    font-size: 3.2vw;
    text-align: left;
    width: 78vw;
    margin: 6vw;
}

