/* 기본 폰트와 색상 설정 */
body {
    font-family: '나눔고딕', sans-serif;
    color: #444;
    margin: 0;
    /* body와 html 태그의 기본 마진을 제거합니다. */
    padding: 0;
    /* body와 html 태그의 기본 패딩을 제거합니다. */
    width: 100%;
    /* 너비를 100%로 설정하여 화면에 꽉 차게 합니다. */
    padding-bottom: 7.8vh;
        /* 기본 하단 여백 */
}

/* 헤더 스타일링 */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 58px;
    /* pt 대신 px 사용 */
    width: 100%;
    /* 헤더는 보통 전체 너비를 차지합니다 */
}


/* 사이드바와 사진 컨테이너를 Flexbox를 사용하도록 변경 */
.main-content {
    display: flex;
    /* 새로 추가된 클래스 */
    position: relative;
}

.sidebar {
    width: 21vw;
}

/* 결혼 사진 섹션 */
.photo-container {
    width: 79vw;
    /* height: 500pt;*/ 
    float: right; 
    height: auto;
        /* 높이를 auto로 설정하여 콘텐츠에 맞게 조정 */   
}


/* 결혼 날짜 섹션 */
.wedding-date {
    font-family: 'Bodoni 72', 'Book Italic', serif;
    /* 대체 폰트도 함께 명시합니다. */
    font-size: 6.5vw;
    font-style: italic;
    /* 이탤릭체를 적용합니다. */
    color: #6F6F6F;
    /* 회색을 나타내는 일반적인 Hex 코드입니다. */
    text-align: right;
    /* 텍스트를 오른쪽에 정렬합니다. */
    width: 3.25vw;
    position: absolute;
    bottom: 0;
    left: 8.4vw;
    
}

/* 인용문 섹션 */
#wedding-quote {
    margin-top: 3.44vh;
    width: 100%;
    height: auto;
    align-items: center;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    background-color: #FADBE1;
    width: 100vw;
    /* 너비를 100%로 설정합니다. */
    padding: 0;
    /* 상하 패딩을 설정합니다. */
    box-shadow: 0 1pt 3pt rgba(0, 0, 0, 0.2);
    /* 그림자 추가 */
    position: fixed;
    /* 네비게이션 바를 고정시킵니다. */
    bottom: 0;
    /* 화면 하단에 위치시킵니다. */
    left: 0;
    /* 좌측 경계부터 시작합니다. */
    height: 7.8vh;

}

.nav-button {
    display: block;
    border: none;
    /* 버튼 테두리 제거 */
    background: none;
    /* 버튼 배경 제거 */
    padding: 0px;
    /* 버튼 내부 패딩 */
    margin: 0;
}

.nav-button img {
    width: 23vw;
    /* 이미지 크기 조정 */
    height: auto;
    /* 이미지 높이를 비율에 맞게 자동 조정 */
}


#notice {
    width: 100%;
    height: auto;
    margin-top: -30px;
}